.scPatient .jqx-datetimeinput{
    width: 354px !important;
}

.scPatient .scRecordContainer{
    height: 350px !important;
}

.scPatient .jqx-file-upload-buttons-container{
    display: none !important;
}